body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: "PT Sans", "Arial", serif;
  text-transform: uppercase;
  position: relative;
  background-color: #f2f2f2;
}
.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 5px 5px #e4e4e4;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
  height: 0;
}
.main-header {
  position: relative;
  width: 1056px;
  min-height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 72px;
  padding-right: 72px;
}
a.logo {
  position: absolute;
  left: 530px;
}
.main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.main-navigation {
  min-height: 56px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation li {
  display: inline-block;
  padding-top: 15px;
  width: 240px;
}
.main-navigation li:nth-child(1),
.main-navigation li:nth-child(2) {
  float: left;
  text-align: left;
}
.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
  float: right;
  text-align: right;
}
.main-navigation a {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.title {
  text-align: center;
  height: 508px;
  background-image: url("../img/mask.png"), url("../img/background-index.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 1200px 57px, 1200px 510px;
}
.title img {
  padding-top: 75px;
}
.subject {
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 312px;
  padding-right: 312px;
}
.subject p {
  text-align: center;
  margin-bottom: 0;
}
p.slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 30px;
}
.reasons {
  width: 1200px;
  min-height: 256px;
  background-color: #eeeeee;
}
.reasons-item {
  float: left;
  width: 400px;
  min-height: 200px;
  text-align: center;
  padding-top: 48px;
}
.main-reasons {
  float: left;
  width: 400px;
  min-height: 200px;
  text-align: center;
  padding-top: 56px;
}
.reasons-item:nth-child(3) {
  float: right;
}
.reasons-description {
  padding-left: 60px;
  padding-right: 60px;
}
.bridge .reasons-description {
  padding-left: 40px;
  padding-right: 40px;
}
.main-reasons {
  color: #ffffff;
  background-color: #81b3d2;
}
h2.reasons-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", serif;
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 0;
  margin-bottom: 25px;
}
.reasons-number {
  margin-bottom: 20px;
}
.feautures-name {
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 11px;
}
b.gift {
  margin-bottom: 10px;
}
.features-description {
  text-align: center;
}
.main-reasons h2 {
  color: #ffffff;
}
.bridge .reasons-item {
  float: right;
}
.reasons-images {
  float: right;
  width: 800px;
  min-height: 256px;
  line-height: 0;
}
.bridge .reasons-images {
  float: left;
}
.features {
  min-height: 330px;
}
.feautures-item {
  float: left;
  width: 300px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}
.feautures-item:last-child {
  float: right;
}
.sprite {
  background: url("../img/sprite3.png") no-repeat;
  display: block;
}
.pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
  margin-bottom: 30px;
}
.pic-house {
  width: 75px;
  height: 72px;
  background-position: -10px -148px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.pic-burger {
  width: 74px;
  height: 70px;
  background-position: -41px -10px;
  margin-top: 62px;
}
.pic-gift {
  width: 64px;
  height: 76px;
  background-position: -181px -52px;
}
.search-hotel {
  position: relative;
  width: 568px;
  height: 290px;
  margin: 0 auto;
  padding-top: 0px;
}
.search-hotel p {
  padding-top: 0px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 50px;
}
p.promo {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  padding-top: 56px;
  padding-bottom: 25px;
}
.btn {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  display: inline-block;
}
.form-btn {
  display: block;
  width: 568px;
  background-color: #766357;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.search-hotel form {
  position: absolute;
  top: 100%;
  width: 458px;
  height: 285px;
  padding: 55px 55px;
  background-color: #ffffff;
}
.search-hotel ::-webkit-input-placeholder {
  font-weight: bold; color: #000000;
}
.search-hotel ::-moz-placeholder  {
  font-weight: bold; color: #000000;}
.search-hotel :-moz-placeholder {
  font-weight: bold; color: #000000;}
.search-hotel :-ms-input-placeholder  {
  font-weight: bold; color: #000000;}
.search-btn {
  display: block;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 50px;
}
.search-btn:hover {
  background-color: #669ec0;
}
.search-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.form-field {
  width: 331px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #f2f2f2;
  margin-bottom: 25px;
  position: relative;
}
.search-hotel label {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  display: inline-block;
  width: 108px;
  vertical-align: middle;
}
.search-hotel label.childs {
  width: 60px;
  padding-top: 2px;
}
.search-hotel label.childs {
  padding-top: 2px;
}
.adults {
  margin-right: 50px;
}
.form-field input[type="text"] {
  width: 290px;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", serif;
  text-transform: uppercase;
}
.form-field input[type="text"]:hover {
  background-color: #ebebeb;
}
.form-field input[type="text"]:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.amount-field {
  width: 94px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #f2f2f2;
  margin-top: 5px;
  position: relative;
  font-size: 0;
}
.amount-field input[type="text"] {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", serif;
  text-transform: uppercase;
}
.amount-field button {
  display: inline-block;
  vertical-align: middle;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 0;
  position: relative;
  margin-right: 0;
  background-color: transparent;
  font-size: 0px;
}
.amount-field button.plus {
  display: inline-block;
  vertical-align: middle;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 0;
  position: relative;
  left: 3px;
  margin-right: 0;
  background-color: transparent;
  font-size: 0px;
}
.amount-field button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite3.png");
  background-repeat: no-repeat;
  font-size: 0px;
}
.amount-field button.minus::before {
  width: 12px;
  height: 3px;
  background-position: -10px -111px;
}
.amount-field button.minus:hover:before {
  width: 12px;
  height: 3px;
  background-position: -74px -111px;
}
.amount-field button.minus:active:before {
  width: 12px;
  height: 3px;
  background-position: -42px -111px;
}
.amount-field button.plus::before {
  width: 11px;
  height: 11px;
  background-position: -106px -111px;
}
.amount-field button.plus:hover:before {
  background-position: -265px -111px;
}
.amount-field button.plus:active:before {
  background-position: -137px -111px;
}
.calendar {
  display: inline-block;
  width: 25px;
  height: 25px;
  font-size: 0;
  vertical-align: middle;
  float: right;
  margin-right: 0;
  background-image: url("../img/sprite3.png");
  background-repeat: no-repeat;
  background-position: -265px -69px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 4px;
  top: 9px
}
.calendar:hover {
  background-position: -347px -69px;
}
.calendar:active {
  background-position: -306px -69px;
}
.filters {
  min-height: 167px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 72px;
  padding-right: 72px;
  background: url("../img/background-inner.jpg") no-repeat;
  color: #ffffff;
}
.filters fieldset {
  border: none;
  padding: 0 0;
  margin-left: 0;
}
fieldset.housing {
  margin-left: 4px;
}
.filters legend {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}
.filters input[type="checkbox"] {
  display: none;
}
.filters input[type="checkbox"] + label {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 25px;
  padding-left: 40px;
}
.filters input[type="checkbox"] + label:last-child{
  margin-bottom: 0;
}
.filters input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite3.png");
  background-repeat: no-repeat;
  background-position: -135px -10px;
}
.filters input[type="checkbox"]:disabled + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/sprite3.png");
  background-repeat: no-repeat;
  background-position: -177px -10px;
}
.filters input[type="checkbox"]:checked + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 22px;
  background-image: url("../img/sprite3.png");
  background-repeat: no-repeat;
  background-position: -219px -10px;
}
.filters input[type="checkbox"]:checked:disabled + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 22px;
  background-image: url("../img/sprite3.png");
  background-repeat: no-repeat;
  background-position: -135px -52px;
}
.infrastructure {
  float: left;
  width: 200px;
  margin-right: 50px;
}
.housing {
  float: left;
  width: 274px;
  padding-right: 14px;
}
.rangerprice {
  float: right;
  width: 328px;
}
.rangerprice-label {
  margin-bottom: 12px;
  font-weight: bold;;
  font-size: 16px;
  line-height: 21px;
}
.rangerprice-value {
  height: 32px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 0;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.rangerprice-value::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}
.rangerprice-value label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}
.rangerprice-value .min-price {
  width: 90px;
  padding-left: 65px;
  margin-top: 4px;
}
.rangerprice-value .max-price {
  width: 90px;
  padding-left: 57px;
  margin-top: 4px;
}
.rangerprice-value input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.rangerprice-controls {
  position: relative;
  margin-bottom: 32px;
}
.rangerprice-controls .scale {
  margin-left: 10px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.rangerprice-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-min {
  left: 10px;
}
.range-toggle-max {
  left: 80%;
}
.range-toggle:hover {
  background: #1c4f80;
}
.show-btn {
  display: block;
  text-decoration: none;
  margin-right: 94px;
  margin-left: 94px;
  padding: 6px 35px;
  width: 64px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.show-btn:hover {
  color: #000000;
  background: #ffffff;
}
.sortings {
  padding-top: 29px;
  padding-bottom: 25px;
  padding-left: 72px;
  padding-right: 72px;
  border-bottom: 1px solid #e5e5e5;
}
.search-amount {
  float: left;
  width: 136px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  margin-right: 28px;
  margin-bottom: 6px;
}
.sortings-title {
  display: inline-block;
  margin-right: 37px;
  padding-top: 5px;
  font-size: 12px;
  line-height: 18px;
}
.sortings-btns {
  float: left;
  width: 366px;
  padding-right: 28px;
}
.sortings-btn {
  font-size: 12px;
  line-height: 18px;
  margin-right: 31px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}
.sortings-btn:hover {
  color: #81b3d2;
}
.sortings-btn:active {
  color: #000000;
  border: none;
}
.sortings-asc-dsc {
  float: right;
  width: 240px;
  height: 29px;
  position: relative;
}
.asc {
  font-size: 0;
  width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 11px solid #cccccc;
  position: absolute;
  right: 25px;
  top: 10px;
}
.asc:hover {
  border-bottom: 11px solid #000000;
}
.asc:active {
  border-bottom: 11px solid #81b3d2;
}
.desc {
  font-size: 0;
  width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right:6px solid transparent;
	border-top: 11px solid #cccccc;
  position: absolute;
  right: 0;
  top: 10px;
}
.desc:hover {
  border-top: 11px solid #000000;
}
.desc:active {
  border-top: 11px solid #81b3d2;
}
.hotels {
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 28px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}
.hotels-img {
  float: left;
  width: 135px;
  margin-top: 2px;
}
.hotels-details {
  float:left;
  width: 561px;
  padding-left: 31px;
}
h2.hotels-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans", "Arial", serif;
  margin-top: 0;
  margin-bottom: 10px;
}
.hotels-name a {
  text-decoration: none;
  color: #000000;
}
.hotels-name a:hover {
  color: #81b3d2;
}
.hotels-name a:active {
  color: rgba(0,0,0,0.3);
}
.hotels-type-price {
  margin-bottom: 10px;
}
.hotels-type {
  display: inline-block;
  width: 110px;
}
.hotels-rating {
  float: right;
  width: 240px;
  height: 89px;
  position: relative;
  text-align: right;
}
.hotels-stars {
  background: url("../img/star.png");
  position: absolute;
  right: 0px;
}
.rating-value {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: #f2f2f2;
  padding-right: 15px;
  padding-left: 15px;
}
.amara-stars {
  width: 96px;
  height: 17px;
}
.desert-stars {
  width: 72px;
  height: 17px;
}
.villas-stars {
  width: 48px;
  height: 17px;
}
.info-btn {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
  text-align: center;
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: 2px;
  margin-top: 3px;
}
.info-btn:hover {
  background-color: #669ec0;
}
.info-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.book-btn {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  background-color: #766357;
  text-align: center;
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  padding-right: 17px;
  margin-right: 6px;
}
.book-btn:hover {
  background-color: #604e43;
}
.book-btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.main-footer {
  padding: 36px 72px;
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}
.index-footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.footer-hashtag {
  float: left;
  width: 237px;
  margin-right: 88px;
  text-align: center;
  padding-top: 8px;
  padding-left: 7px;
}
.footer-hashtag a {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}
.footer-social {
  float: left;
  width: 275px;
  padding-left: 120px;
}
.social-btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  width: 45px;
  height: 48px;
  font-size: 0;
  background-color: #81b3d2;
  position: relative;
}
.social-btn:hover {
  background-color: #669ec0;
}
.social-btn:active {
  background-color: #5496bd;
}
.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite3.png");
  background-repeat: no-repeat;
}
.social-btn:active:before {
  opacity: 0.3;
}
.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -340px -111px;
}
.social-btn-fb::before  {
  width: 10px;
  height: 19px;
  background-position: -10px -52px;
}
.social-btn-yt::before {
  width: 20px;
  height: 16px;
  background-position: -340px -146px;
}
.footer-copyright {
  float: right;
  width: 240px;
  position: relative;
}
.footer-copyright span {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 10px;
  }
.footer-copyright a {
  display: inline-block;
  position: absolute;
  left: 96px;
  top: 5px;
  font-size: 0;
  width: 113px;
  height: 39px;
  background: url("../img/sprite3.png") no-repeat;
  background-position: -105px -148px;
}
.footer-copyright a:hover {
  background-position: -265px -10px;
}
.footer-copyright a:active {
  background-position: -105px -207px;
}
